* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  background-color: #010230;
}

.btn-primary {
  font-size: .8rem;
  letter-spacing: 1px;
  border-radius: 30px;
}

.bg-tran {
  background: transparent !important;
}

.bg-color {
  background: #020220 !important;
}

@media (max-width: 768px) and (max-width: 992px) {
  #domain input {
    width: 100%;
  }
  #domain button {
    width: 50% !important;
  }
  #domain select {
    width: 50% !important;
    margin-left: 1px !important;
  }
}

.navbar-light .navbar-toggler-icon {
  color: white;
  background-color: white;
}

.navbar {
  transition: all 0.4s ease-in-out;
}

.navbar .navbar-brand {
  transition: all 1s ease-in-out;
}

.navbar .navbar-brand img {
  height: 50px;
  transition: all 0.4s ease-in-out;
}

.navbar .navbar-brand img:hover {
  transform: scale(1.1) rotate(360deg);
}

.navbar .nav-item a {
  color: white !important;
  text-transform: uppercase;
  font-size: .78rem;
  font-weight: 600;
  margin-left: 3em;
  letter-spacing: 1px;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #05ADDA !important;
}

.navbar-light .navbar-nav .nav-item:hover .nav-link {
  color: #05ADDA !important;
}

#home {
  background-image: url(../../Images/Hero-image-2.png);
  background-size: cover;
  height: 120vh;
  color: white;
}

#home .content-area {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#home .content-area h1 {
  letter-spacing: 2px;
}

#home .content-area p {
  letter-spacing: 2px;
  line-height: 1.8em;
  opacity: .9;
  font-size: .8em;
}

#domain {
  margin-top: 60px;
}

#domain p {
  letter-spacing: 1px;
  line-height: 2em;
}

#domain .box {
  background-color: #000127;
}

#domain .box input {
  border-radius: 0px;
  height: 60px;
  width: 500px;
  border-color: #05ADDA;
  border-width: 1px;
  background-color: #010230;
  color: white;
}

#domain .box ::placeholder {
  color: white;
  opacity: .7;
  font-size: .8em;
  letter-spacing: 1px;
}

#domain .box select {
  border-radius: 0px;
  height: 60px;
  width: 100px;
  margin-left: -3px;
  border-color: #05ADDA;
  border-width: 1px;
  background-color: #000127;
  color: white;
}

#domain .box button {
  border-radius: 0px;
  height: 60px;
  margin-left: -3px;
  width: 100px;
  border-width: 1px;
}

#domain .box li {
  display: inline-block;
  color: white;
  margin: 25px;
  margin-bottom: 0;
  font-size: 0.9em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#domain .box li:hover {
  font-size: 1em;
  color: #05ADDA;
}

#service {
  margin-top: 150px;
}

#service h2 {
  text-transform: uppercase;
}

#service .container > p {
  letter-spacing: 1px;
}

#service .card {
  background: transparent;
  border: 1px solid #05ADDA;
  cursor: pointer;
  height: 285px;
  transition: all 0.3s ease-in-out;
}

#service .card img {
  transform: scale(0.7);
  transition: all 0.3s ease-in-out;
}

#service .card .secure {
  margin-top: -9.5px;
  transform: scale(0.7);
  padding-bottom: 0;
}

#service .card h5 {
  font-size: 1.2em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#service .card p {
  font-size: .8em;
  line-height: 1.8em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#service .card:hover {
  background-color: #00012791;
}

#service .card:hover img {
  transform: scale(0.8);
}

#get-started {
  background-color: #000127;
  margin-top: 100px;
  width: 100%;
}

footer {
  height: 70px;
  background-color: #000113;
}
/*# sourceMappingURL=style.css.map */